:root {
  --bg: #020617;

  /* Font & Rendering */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Reset & Global Rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--bg);
  font-family: 'Inter', sans-serif;
  color: #f1f5f9;
  line-height: 1.5;
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
}

/* Buttons */
button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  background: none;
}

/* Smooth Scroll */
html {
  scroll-behavior: smooth;
}
